<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='aunalise_favicon.png') }}" type="image/png">
</head>
<body>
    <header>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Lista de Pacientes</a></li>
                <li class="logo">
                    <a href="/">
                        <span>Aunalise</span>
                    </a>
                </li>
                <li><a href="/adicionar_form">Adicionar Paciente</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Lista de Pacientes</h1>

        <div class="table-responsive">
            {% if pacientes %}
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Raça</th>
                            <th>Sexo</th>
                            <th>Peso</th>
                            <th>Idade</th>
                            <th>ID Veterinário</th>
                            <th>Espécie</th>
                            <th>Nascimento</th>
                            <th>Temperamento</th>
                            <th>Histórico</th>
                            <th>Vacinal</th>
                            <th>Alergias</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for paciente in pacientes %}
                        <tr>
                            <td>{{ paciente[0] }}</td>
                            <td>{{ paciente[1] }}</td>
                            <td>{{ paciente[2] }}</td>
                            <td>{{ paciente[3] }}</td>
                            <td>{{ paciente[4] }}</td>
                            <td>{{ paciente[5] }}</td>
                            <td>{{ paciente[6] or 'N/A' }}</td>
                            <td>{{ paciente[7] }}</td>
                            <td>{{ paciente[8] or 'N/A' }}</td>
                            <td>{{ paciente[9] or 'N/A' }}</td>
                            <td>{{ paciente[10] or 'N/A' }}</td>
                            <td>{{ paciente[11] or 'N/A' }}</td>
                            <td>{{ paciente[12] or 'N/A' }}</td>
                            <td>
                                <a href="{{ url_for('editar_paciente', paciente_id=paciente[0]) }}" class="btn-editar">Editar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{{ url_for('prever', paciente_id=paciente[0]) }}">
                    <button>Prever Risco</button>
                </a>
            {% else %}
                <p>Nenhum paciente cadastrado ainda.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>